<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Resume</title>
</head>
<body>
    <header>
        <h3>Vijay Gadhamsetty</h3>
        <p>Email: vijaysgv11.gmail.com | Phone: +91-8919909332</p>
    </header>

    <section>
        <h2> Professional Summary </h2>
        <p>Experienced Python Developer with 5 years of comprehensive experience in developing web applications using Django and Flask frameworks. Proven track record in project development, debugging, and enhancing applications. Proficient in using version control systems, testing, and maintaining applications. Strong ability to lead and guide teams, adopt new technologies, and deliver high-quality results.</p>
    </section>

    <section>
        <h2>Technical Skills</h2>
        <ul>
            <li> <b>Languages:</b> &nbsp;&nbsp;&nbsp; Python</li>
            <li><b>Frameworks:</b> &nbsp;&nbsp;Django, Flask</li>
            <li><b>Databases:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MySQL, PostgreSQL, MongoDB</li>
            <li><b>Web Tech's:</b> &nbsp;&nbsp;&nbsp;&nbsp;HTML5, CSS3, Bootstrap4</li>
            <li><b>VCS's:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Git</li>
            <li><b>IDEs:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PyCharm, VS Code, Sublime Text</li>
            <li><b>Tools:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Postman</li>
        </ul>
    </section>

    <section>
        <h2>Professional Experience</h2>

        <h3>Senior Software Engineer</h3>
        <p>Cyient | August 2022 - Till Date</p>
        <ul>
            <li><strong> Project: TOOB</strong></li>
            <ul>
                <li><b>Role:</b> Full-Stack Developer</li>
                <li><b>Technologies:</b> Python, Django, PostgreSQL, HTML5, CSS3, Bootstrap4, Visual Studio Code</li>
                <li><b>Responsibilities:</b>
                    <ul>
                        <li>Managed GIS data and adhered to specific design types.</li>
                        <li>Developed and debugged API (Backend).</li>
                        <li>Enhanced existing scripts and resolved bugs based on application requirements.</li>
                        <li>Managed tickets and ensured timely resolution.</li>
                    </ul>
                </li>
            </ul>
            </ul>
        </ul>

        <h3>Application Development Analyst</h3>
        <p>Accenture Services Pvt Ltd | February 2021 – August 2022</p>
        <ul>
            <li><strong>Project: Cygnus</strong></li>
            <ul>
                <li><b>Role:</b> Python Developer</li>
                <li><b>Technologies:</b> Python, Flask, MongoDB, Visual Studio Code, PyCharm, Postman</li>
                <li><b>Responsibilities:</b>
                    <ul>
                        <li>Visualized data for end-users based on various associations.</li>
                        <li>Developed Python scripts for business logic.</li>
                        <li>Debugged and enhanced scripts as per requirements.</li>
                        <li>Managed tickets and ensured timely resolution.</li>
                    </ul>
                </li>
            </ul>
        </ul>

        <h3>Junior Software Engineer</h3>
        <p>01Xarxa Technologies Pvt Ltd | July 2019 – October 2020</p>
        <ul>
            <li><strong>Project: Payroll</strong></li>
            <ul>
                <li><b>Role:</b> Developer</li>
                <li><b>Technologies:</b> Python, Django, MySQL, Git, HTML5, CSS3, Bootstrap4, Sublime Text</li>
                <li><b>Responsibilities:</b>
                    <ul>
                        <li>Developed web applications using Django framework.</li>
                        <li>Created and modified Python scripts for enhancements and bug resolution.</li>
                        <li>Developed user-friendly dashboards.</li>
                        <li>Managed tickets and ensured timely resolution.</li>
                    </ul>
                </li>
            </ul>
        </ul>
    </section>

    <section>
        <h2>Education</h2>
        <ul>
            <li>Bachelor of Technology (B. Tech) in Electronics and Communication Engineering (ECE)</li>
        </ul>
    </section>

    <section>
        <h2>Certifications</h2>
        <ul>
            <li><b>Python Certification:</b> Udemy</li>
        </ul>
    </section>

    <section>
        <h2>Key Strengths</h2>
        <ul>
            <li>Strong analytical skills and problem-solving ability.</li>
            <li>Flexible and quick to adopt new technologies.</li>
            <li>Positive attitude and teamwork.</li>
            <li>Quick learner and result-oriented.</li>
        </ul>
    </section>

    <section>
        <h2>Achievements</h2>
        <ul>
<!--            <li>Successfully deployed my resume online using a free platform, showcasing my web development skills and initiative.</li>-->
            <li>I used a free platform to successfully publish my <a href="https://thevijay.pythonanywhere.com/">resume</a> online, demonstrating my initiative and web development skills.</li>
        </ul>
    </section>
</body>
</html>
